!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ro", :lang => "ro" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %meta{ :name => "keywords", :content => "pliante, hartie, copac, copaci, copac cu flori, dezabonare, reciclare, posta, cutie postala, cutia postala, abtibilde, fara reclame" }
    %meta{ :name => "description", :content => "Dezaboneaza-te de pliantele publicitare pe care nu le citesti - salveaza un copac!" }
    %title Salveaza un copac

    %link{ :media => 'screen', :type => 'text/css', :href => '/stylesheets/app.css', :rel => 'stylesheet' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %base{ :target => '_blank' }

  %body
    #all
      #content
        %h1 
          %img{:src => '/images/tree.gif', :alt => "" }
          %span.container
            %span.good Un copac cu flori&#x2026;
            %span.bad sau 40Kg de pliante?
          
        %p.pitch 
          Salveaza un copac: 
          %strong "dezaboneaza-te" de la pliantele pe care nu le citesti!
        
        %p 
          Spunem "dezaboneaza-te" pentru ca, desi nu te-ai inscris tu sa primesti pliantele respective, si desi nu iti sunt trimise personal, ele functioneaza ca un abonament. Ajung in cutia ta postala, deci 
          %strong ai dreptul de a alege 
          sa le primesti sau nu. 
        
        %h2 Informatii pentru "dezabonare":
        %ul#stores
          %li
            %h3
              Carrefour
            .img_wrapper
              %img{:src => '/images/logo-carrefour.gif', :alt => "" }
            .cantitate
              \~50 pagini/luna
            .dezabonare
              suna la: 021
              %span.contact 206 74 00
              (insistent)
              %span.contact
                office(at)carrefour.ro
            .info
              %a{ :href => 'http://www.carrefour.ro/catalog_carrefour.html', :title => 'Cataloage Carrefour online' } cataloage 
              \- 
              %a{ :href => 'http://www.carrefour.ro/promotii.html', :title => 'Promotii Carrefour online' } promotii
              \-
              %a{ :href => 'http://www.carrefour.ro/newsletter.html', :title => 'Newsletter Carrefour online' } newsletter
          %li
            %h3
              real
            .img_wrapper
              %img{:src => '/images/logo-real.jpg', :alt => "" }
            .cantitate
              \~40 pagini/luna
            .dezabonare
              suna la 
              %span.contact 031 403 10 00
              %br
              sau la 
              %span.contact 0800 887 325
            .info
              %a{ :href => 'http://www.real-hypermarket.ro/?page=pagini&amp;PageId=Catalog_6', :title => 'Catalogul real online' } catalog
              \-
              %a{ :href => 'http://www.real-hypermarket.ro/?page=pagini&amp;PageId=Promotii_9', :title => 'Promotii real online' } promotii
              \-  
              %a{ :href => 'http://www.real-hypermarket.ro', :title => 'Newsletter real online' } newsletter
          %li
            %h3
              DOMO
            .img_wrapper
              %img{:src => '/images/logo-domo.gif', :alt => "" }
              .cantitate
                \~25 pagini/luna
              .dezabonare
                %span.contact
                  reclamatii(at)domo.ro
                
              .info
                %a{ :href => 'http://www.domo.ro/catalog', :title => 'Catalogul DOMO online' } catalog
              \-
              %a{ :href => 'http://www.domo.ro/oferte', :title => 'Oferte DOMO online' } oferte
              \-
              %a{ :href => 'http://www.domo.ro', :title => 'Newsletter DOMO online' } newsletter
          %li
            %h3
              Hornbach
            .img_wrapper
              %img{:src => '/images/logo-hornbach.gif', :alt => "" }
            .cantitate
              \~20 pagini/luna
            .dezabonare
              %span.contact
                andrei.arabolea(at)hornbach.com 
            .info
              %a{ :href => 'http://www.hornbach.ro/brochure/ro/html/index_brochure.phtml', :title => 'Prospecte (cataloage) Hornbach online' } prospecte
          %li
            %h3
              Proges
            .img_wrapper
              %img{:src => '/images/logo-proges.jpg', :alt => "" }
            .cantitate
              \~15 pagini/luna
            .dezabonare
              suna la: 
              %span.contact 025 940 62 90
            .info
              %a{ :href => 'http://proges.ro', :title => 'Pliant (catalog) Proges online' } pliant
              \-
              %a{ :href => 'http://www.proges.ro/produse/oferte/', :title => 'Oferta Proges online' } oferta
              \-
              %a{:href => 'http://proges.ro', :title => 'Newsletter Proges online' } newsletter
          %li
            %h3
              Praktiker
            .img_wrapper
              %img{:src => '/images/logo-praktiker.gif', :alt => "" }
            .cantitate
              \~8 pagini/luna
            .dezabonare
              suna la: 021
              %span.contact 204 71 00
            .info
              %a{ :href => 'http://www.praktiker.ro/praktiker-international/html/ro_RO/63646/index.html', :title => 'Prospectul (catalogul) Praktiker online' } prospect
              \-
              %a{ :href => 'http://www.praktiker.ro/praktiker-international/html/ro_RO/78123/index.html', :title => 'Oferte Praktiker online' } oferte
              \-
              %a{ :href => 'http://praktiker.dailywhisper.ro/', :title => 'Abonare newsletter Praktiker online' } newsletter

        %h2 Anunta-ti prietenii
        %p Te rugam sa ne sprijini dand site-ul mai departe - prin status pe messenger sau mesaje catre prietenii interesati de ecologie si protectia mediului.
        
        %h2 Intrebari frecvente
        %ul#faq
          %li 
            %p.question
              Merita sa ma ma dezabonez? doar nu primesc chiar asa multe pliante..
            .answer
              %p
                Pentru a ajunge la maturitate un copac are nevoie de 30 de ani; dupa care din el se fac doar ~40Kg hartie.
                %br
                Asta inseamna ca pentru 
                %strong fiecare an din viata unui copac se produc ~1.33Kg hartie.
              %p
                In timp ce la in casuta ta postala (Bucuresti)
                %strong in fiecare an ajung ~4.5Kg hartie.
                %br
                Deci, merita sa te dezabonezi de la pliantele care nu iti trebuiesc! 
          %li 
            %p.question
              As vrea sa ma dezabonez, dar mi se pare un gest urat..
            .answer
              %p
                Nu ai de ce - este dreptul tau sa selectezi ce pliante vrei sa primesti, iar firmele care fac distributia trebuie sa tina cont de alegerea ta. In plus, este pentru o cauza buna: neirosirea hartiei.
              %p
                Gasesti mai sus si modele de cerere a dezabonarii, pentru inspiratie.
          %li
            %p.question
              Aceste firme tin o lista a abonatilor, sau a dezabonatilor?
            .answer
              %p Distributia de face de firme specializate; se specifica aria in care sa se faca distributia, impreuna cu "dezabonatii".
              %p 
                %strong
                  La firmele de mai sus am sunat si ni s-a confirmat posibilitatea dezabonarii.
          %li
            %p.question
              Nu e mai bine sa duc pliantele la reciclat?
            .answer
              %p
                Daca pliantele respective te intereseaza si le citesti, reciclarea este o solutie foarte buna. Este foarte bine sa reciclezi orice hartie in loc sa o arunci - ziare, reviste, hartiute mai mici - cu conditia sa fie curata.
              %p  
                Daca insa nu citesti pliantele pe care le primesti, e mai bine sa te dezabonezi:  
                %a{ :href => 'http://www.primariapn.ro/md/interior.php?p=reciclare1' }
                  reducerea consumului e mai eficienta decat reciclarea.
          %li 
            %p.question
              Vreau sa plantez un copac!
            %p.answer
              Cel mai simplu este sa participi la actiunile de plantare organizate de ONG-urile eco. Plantarile se fac primavara si toamna. Cateva ONG-uri din Bucuresti care organizeaza : <a href="http://maimultverde.ro/">Mai mult verde</a>,
              <a href="http://www.copaculdehartie.ro/">Copacul de hartie</a>, 
              <a href="http://dir.groups.yahoo.com/group/impaduriri/?v=1&amp;t=search&amp;ch=web&amp;pub=groups&amp;sec=group&amp;slk=1">Terra Ecologica</a>,
              <a href="http://ecoassist.org/">EcoAssist</a>.
          %li 
            %p.question
              M-ati convins, vreau sa nu mai primesc nici un pliant!
            %p.answer
              Super! Daca te-ai dezabonat deja de la pliantele de mai sus, poti sa iti lipesti pe casuta postala abtibildul:
              %a{ :href => 'http://steleverzi.wordpress.com/2009/06/02/daca-te-ai-saturat-de-pliante/' }
                %img{ :src => 'http://steleverzi.files.wordpress.com/2009/06/nu-puneti-pliante.png?w=223&h=223', :alt => 'Va rog, nu puneti reclame' }
              %br
              Il gasesti 
              %a{ :href => 'http://steleverzi.wordpress.com/2009/06/02/daca-te-ai-saturat-de-pliante/' } aici.
          %li
            %p.question
              Pentru intrebari sau comentarii ne gasiti la 
            %p.answer
              %span.contact contact(at)salveazauncopac.ro
      #footer
        O initiativa 
        %a{ :href => 'http://steleverzi.wordpress.com' } steleverzi
    %script{:type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-7216213-1");
      pageTracker._trackPageview();
      } catch(err) {}
